<%= my_form "/vehicles" %>
  <p>
    <%= my_label "vehicle_vin", "Vin" %><br />
    <%= my_text_field "vehicle[vin]", :id => "vehicle_vin" %>
  </p>
  <p>
    <%= my_label "vehicle_year", "Year" %><br />
    <%= my_text_field "vehicle[year]", :id => "vehicle_year" %>
  </p>
  <p>
    <%= my_label "vehicle_location", "Location" %><br />
    <%= my_text_field "vehicle[location]", :id => "vehicle_location" %>
  </p>
  <p>
    <%= my_submit "Submit", :id => "vehicle_submit" %>
    <input id="vehicle_submit" name="commit" type="submit" value="Submit" />
  </p>
</form>